<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pspm.mapper.BugMapper">

	<resultMap type="com.pspm.entity.Bug" id="bugMediumMap">
		<id property="bugId" column="BUG_ID"/>  
    	<result property="serverityLvl" column="SEVERITY"/> 
    	<result property="priority" column="PRIORITY"/>
    	<result property="title" column="TITLE"/>
    	<result property="steps" column="STEPS"/>
    	<result property="comments" column="COMMENTS"/>
    	<result property="status" column="STATUS_CD" typeHandler="org.apache.ibatis.type.EnumTypeHandler"/>
    	<result property="createDt" column="CRETE_DT"/>
    	<association property="assignTo" column="ASSIGN_TO" select="com.pspm.mapper.UserMapper.getUserById"></association>
    	<association property="createdBy" column="CRETE_ID" select="com.pspm.mapper.UserMapper.getUserById"></association>
	</resultMap>
	
	<insert id="addBug" parameterType="com.pspm.entity.Bug">
		INSERT INTO BUG (
			TITLE, STEPS, COMMENTS, MODULE_ID, 
			STATUS_CD, DETECTED_BY, DETECTED_DT, PROJECT_ID,
			SEVERITY, ASSIGN_TO, CRETE_ID, CRETE_DT
		) VALUES (
			#{title},#{steps},#{comments},#{module.moduleId},
			#{status},#{detectedBy.userId},#{detectedDt},#{projectId},
			#{serverityLvl}, #{assignTo.userId}, #{createdBy.userId}, #{createDt}
		)
	</insert>
	
	<update id="updateBugInfo" parameterType="com.pspm.entity.Bug">
		UPDATE BUG
		   SET TITLE=#{title}, PRIORITY=#{priority}, STEPS=#{steps}, 
		   	   COMMENTS=#{comments}, ASSIGN_TO=#{assignTo.userId}, STATUS_CD=#{status}
		 WHERE BUG_ID = #{bugId}
	</update>
	
	<select id="listOpenDefects" parameterType="map" resultMap="bugMediumMap">
		SELECT BUG_ID, SEVERITY, PRIORITY, TITLE, STEPS, COMMENTS, STATUS_CD, ASSIGN_TO, CRETE_ID, CRETE_DT
		  FROM BUG
		 WHERE STATUS_CD != 'CLOSED'
		   AND PROJECT_ID = #{projectId}
	  ORDER BY CRETE_DT DESC
	     LIMIT #{startIndex} ,#{pageSize}
	</select>
	
	<select id="cntOpenDefects" parameterType="java.lang.Integer" resultType="java.lang.Integer">
		SELECT COUNT(1)
		  FROM BUG
		 WHERE STATUS_CD = 'OPEN'
		   AND PROJECT_ID = #{projectId}
	</select>
	
	<select id="getBugById" parameterType="java.lang.Integer" resultMap="bugMediumMap">
		SELECT BUG_ID, SEVERITY, PRIORITY, TITLE, STEPS, COMMENTS, STATUS_CD, ASSIGN_TO, CRETE_ID, CRETE_DT
		  FROM BUG
		 WHERE BUG_ID = #{bugId}
	</select>
	
	<select id="cntUnresolvedBugs" parameterType="java.lang.Integer" resultType="java.lang.Integer">
		SELECT COUNT(BUG_ID)
		  FROM BUG
		 WHERE STATUS_CD &lt;&gt; 'CLOSED'
		   AND STATUS_CD &lt;&gt; 'FIXED'
		   AND PROJECT_ID = #{projectId}
	</select>
	
	<select id="cntUnresolvedInModule" parameterType="map" resultType="java.lang.Integer">
		SELECT COUNT(BUG_ID)
		  FROM BUG
		 WHERE STATUS_CD &lt;&gt; 'CLOSED'
		   AND STATUS_CD &lt;&gt; 'FIXED'
		   AND PROJECT_ID = #{projectId}
		   AND MODULE_ID = #{moduleId}
	</select>
	
	<select id="cntUnresolvedByCreator" parameterType="map" resultType="java.lang.Integer">
		SELECT COUNT(BUG_ID)
		  FROM BUG
		 WHERE STATUS_CD &lt;&gt; 'CLOSED'
		   AND STATUS_CD &lt;&gt; 'FIXED'
		   AND PROJECT_ID = #{projectId}
		   AND CRETE_ID = #{userId}
	</select>
	
	<select id="listBugAssignedToMe" parameterType="map" resultMap="bugMediumMap">
		SELECT BUG_ID, PRIORITY, STATUS_CD, TITLE, CRETE_DT 
		  FROM BUG
		 WHERE STATUS_CD &lt;&gt; 'CLOSED'
		   AND PROJECT_ID = #{projectId}
		   AND ASSIGN_TO = #{userId}
	  ORDER BY BUG_ID DESC
		 LIMIT #{rowCnt} 
	</select>
	
	<select id="cntAssignToMe" parameterType="map" resultType="java.lang.Integer">
		SELECT COUNT(BUG_ID) 
		  FROM BUG
		 WHERE STATUS_CD &lt;&gt; 'CLOSED'
		   AND PROJECT_ID = #{projectId}
		   AND ASSIGN_TO = #{userId}
	</select>
 	
</mapper>
